*.log
.DS_Store
.htaccess
sitemap.xml
sitemap.xml.gz

# composer
composer.lock
# vendor/

# Wordpress
# web/*
# web/content/plugins/*
# web/content/themes/*
# !web/index.php
# !web/wp-config.php.dist
# !web/content
# !web/content/themes
# !web/content/themes/skin
# !web/content/plugins
# !web/content/plugins/Ultimate_VC_Addons
# !web/content/uploads/*

# Theme
node_modules
skin/web/css/*.css
skin/web/css/*.css.map
skin/web/js/*.js

# empty directory
!.gitkeep

