////
/// Fonts
///
/// @group Settings
///
////

/// Import
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300|Roboto+Slab:400,300,700);

/// Font family
$roboto : 'Roboto', Arial sans-serif;
$roboto-serif : 'Roboto Slab', serif;
$font : $roboto;

/// Fonts weight
/// They must reflect avalaible weights
$fw-light : 300;
$fw-regular : 400;
$fw-medium : 500;
$fw-bold : 700;
