////
/// Headings
///
/// @group Tools
///
////

%h1 { margin: 25px 0;
  font-size: 4.5em; }
%h2 { margin: 15px 0;
  font-family: $roboto-serif; font-size: 3em; font-weight: $fw-regular; }
%h3 { margin: 10px 0;
  font-size: 1.2em; font-weight: $fw-medium; }
%h4 { margin: 20px 0;
  font-size: 1.4em;  }
%h5 { margin: 20px 0;
  font-size: 1.4em; }
%h6 { margin: 15px 0;
  font-size: 1.4em; }
