<header id= "header" class="header" >
    <h1>
        <button class="nav-button">
            <svg id="menu-icon" class="menu-icon" src="{{site.theme.link}}/web/img/hamburger.svg" height="64" version="1.1" width="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"></svg>
        </button>
        <img src="{{site.theme.link}}/web/img/logoInt.png" width="275" height="38" alt="La grenouillère"/>
    </h1>
    <div class="nav-block">
        {% include 'Partials/Components/_nav-main.twig' %}
    </div>
</header>
