@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300|Roboto+Slab:400,300,700);
h1 { margin: 25px 0; font-size: 4.5em; }

h2 { margin: 20px 0; font-family: "Roboto Slab", serif; font-size: 4em; font-weight: 400; }

h3 { margin: 10px 0; font-size: 1.6em; font-weight: 700; }

h4 { margin: 20px 0; font-size: 1.4em; }

h5 { margin: 20px 0; font-size: 1.4em; }

h6 { margin: 15px 0; font-size: 1.4em; }

.horizontal-list { display: block; margin: 0; padding: 0; }

.horizontal-list > * { display: inline-block; margin: 5px; padding: 0; }

[type="tel"], [type="email"], [type="url"], [type="search"], [type="date"], [type="time"], [type="datetime"], [type="month"], [type="week"], [type="number"], select, textarea { border: 1px solid #000; border-radius: 3px; background-color: #fff; }

[type="tel"]:focus, [type="email"]:focus, [type="url"]:focus, [type="search"]:focus, [type="date"]:focus, [type="time"]:focus, [type="datetime"]:focus, [type="month"]:focus, [type="week"]:focus, [type="number"]:focus, select:focus, textarea:focus { outline: none; }

.page-sized { margin: auto; padding: 0 0px; width: 100%; }

@media screen and (max-width: 1200px) { .page-sized { margin-right: 0px; margin-left: 0px; padding: 0; width: auto; } }

html { font-size: 62.5%; line-height: 1.3em; }

body { margin: 0; padding: 0; font-size: 1em; }

blockquote p, td p, th p, li li, li p, li h1, li h2, li h3, li h4, li h5, li h6, button { font-size: 100%; }

button { display: inline; margin: 0; border: none; padding: 0; outline: none; cursor: pointer; }

a img { border: none; }

img { max-width: 100%; height: auto; }

hr { border: none; height: 1px; background-color: #000; }

.wpb_alert p:last-child, #content .wpb_alert p:last-child, .wpb_text_column p:last-child, .wpb_text_column *:last-child, #content .wpb_text_column p:last-child, #content .wpb_text_column *:last-child { margin-bottom: 10px; }

.wpb_row, .wpb_content_element, .wpb_thumbnails-fluid > li, .wpb_button { margin-bottom: inherit; }

li { margin: 5px 0; }

p { margin: 10px 0; }

p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea { font-size: 1.4em; line-height: 1.6em; font-weight: 400; }

td p, td .bodytext { margin: 0; }

input, select, textarea { font-family: "Roboto", Arial sans-serif; }

fieldset { margin: 0; border: none; padding: 0; }

select { width: auto; cursor: pointer; }

input, select, textarea, label { vertical-align: middle; }

h1, h2, h3, h4, h5, h6 { line-height: 1em; }

body { overflow: hidden; font-family: "Roboto", Arial sans-serif; font-weight: 400; color: #000; }

button, a { text-decoration: none; color: #68bbdb; }

button:hover, a:hover { text-decoration: underline; }

button { background-color: transparent; color: #68bbdb; }

header { position: absolute; }

footer { position: fixed; top: 0; right: 0; bottom: 0; padding: 1% 0O; width: 400px; max-width: 100%; background: linear-gradient(to right, #000 0%, #161516 10%); overflow: auto; opacity: 0; z-index: 1; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$black', endColorstr='$grey4',GradientType=1); }

footer.shown { display: block; }

.align-left { text-align: left; }

.align-center { text-align: center; }

.align-right { text-align: right; }

.align-justify { text-align: justify; }

.form-error { outline-color: #d9534f; }

.form-valid { outline-color: #5cb85c; }

.important { font-size: 2.4em; }

.introduction { font-size: 1.7em; }

.site-content { position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 10px solid #fff; background-color: #000; overflow: hidden; z-index: 2; }

.nav-block .nav-main { display: none; }

.nav-footer ul { margin: 0 0 0 15px; padding: 0; }

.nav-footer .nav-item { margin: 5px 0; }

.nav-footer .nav-drop-item { margin: 0; list-style-type: none; }

.nav-footer .first-level > .nav-item { display: table; margin: 20px 0; width: 100%; }

.nav-footer .first-level > .nav-item > a, .nav-footer .first-level > .nav-item .second-level { display: table-cell; padding: 0 4%; vertical-align: middle; }

.nav-footer .first-level > .nav-item > a { width: 30%; font-size: 1.2em; font-weight: 700; text-align: right; }

.nav-footer .first-level .page-item-161 { width: 34%; }

.nav-footer .second-level { border-left: 3px solid #949494; width: 54%; }

.nav-footer .second-level a { display: inline; }

.nav-footer a { color: #949494; }

.section-row { height: 100%; opacity: 0; }

.section-row article { position: relative; float: left; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; z-index: 2; }

.section-row .article-content { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; padding: 50px; opacity: 0; }

.section-row [id="post-161"] { background-image: url("../img/image_manger_cuisine.jpg"); }

.section-row [id="post-128"] { background-image: url("../img/image_chef_bio.jpg"); }

.section-row [id="post-130"] { background-image: url("../img/image_dormir_chambre1.jpg"); }

.section-row [id="post-132"] { background-image: url("../img/image_manger_cuisine.jpg"); }

.section-row [id="post-67"] { background-image: url("../img/image_manger_cuisine2.jpg"); }

.section-row [id="post-69"] { background-image: url("../img/image_manger_cuisine3jpg.jpg"); }

.section-row [id="post-71"] { background-image: url("../img/image_manger_menu1.jpg"); }

.section-row [id="post-77"] { background-image: url("../img/image_manger_restaurant1.jpg"); }

.section-row [id="post-75"] { background-image: url("../img/image_manger_restaurant2.jpg"); }

.section-row [id="post-73"] { background-image: url("../img/image_manger_restaurant2.jpg"); }

.section-row [id="post-79"] { background-image: url("../img/image_manger_restaurant2.jpg"); }

.section-row [id="post-141"] { background-image: url("../img/image_manger_restaurant2.jpg"); }

.section-row [id="post-83"] { background-image: url("../img/image_manger_restaurant2.jpg"); }

.section-row [id="post-81"] { background-image: url("../img/image_manger_restaurant2.jpg"); }

.section-row [id="post-87"] { background-image: url("../img/image_manger_restaurant2.jpg"); }

.section-row [id="post-85"] { background-image: url("../img/image_manger_restaurant2.jpg"); }

.section-row h1, .section-row h2, .section-row h4, .section-row h5, .section-row h6 { color: #fff; }

.section-row h3 { font-weight: 300; text-transform: uppercase; color: #ebc390; }

.section-row ul, .section-row li, .section-row p, .section-row th, .section-row td, .section-row blockquote, .section-row caption, .section-row label { color: #fff; }

@media print { .no-print, [id="header"], [id="footer"] { display: none !important; } }
/*# sourceMappingURL=main.css.map */