@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300|Roboto+Slab:400,300,700);
h1 { margin: 25px 0; font-size: 4.5em; }

h2 { margin: 20px 0; font-family: "Roboto Slab", serif; font-size: 4em; font-weight: 400; }

h3 { margin: 10px 0; font-size: 1.6em; font-weight: 700; }

h4 { margin: 20px 0; font-size: 1.4em; }

h5 { margin: 20px 0; font-size: 1.4em; }

h6 { margin: 15px 0; font-size: 1.4em; }

.horizontal-list { display: block; margin: 0; padding: 0; }

.horizontal-list > * { display: inline-block; margin: 5px; padding: 0; }

[type="tel"], [type="email"], [type="url"], [type="search"], [type="date"], [type="time"], [type="datetime"], [type="month"], [type="week"], [type="number"], select, textarea { border: 1px solid #000; border-radius: 3px; background-color: #fff; }

[type="tel"]:focus, [type="email"]:focus, [type="url"]:focus, [type="search"]:focus, [type="date"]:focus, [type="time"]:focus, [type="datetime"]:focus, [type="month"]:focus, [type="week"]:focus, [type="number"]:focus, select:focus, textarea:focus { outline: none; }

.page-sized { margin: auto; padding: 0 0px; width: 100%; }

@media screen and (max-width: 1200px) { .page-sized { margin-right: 0px; margin-left: 0px; padding: 0; width: auto; } }

html { height: 100%; font-size: 62.5%; line-height: 1.3em; }

body { margin: 0; padding: 0; font-size: 1em; }

blockquote p, td p, th p, li li, li p, li h1, li h2, li h3, li h4, li h5, li h6, button { font-size: 100%; }

button { display: inline; margin: 0; border: none; padding: 0; outline: none; cursor: pointer; }

a img { border: none; }

img { max-width: 100%; height: auto; }

hr { border: none; height: 1px; background-color: #000; }

@-webkit-keyframes wpb_ttb { 0% { opacity: 0;
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
    filter: alpha(opacity=0); }
  100% { opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    filter: alpha(opacity=100); } }

@keyframes wpb_ttb { 0% { opacity: 0;
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
    filter: alpha(opacity=0); }
  100% { opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    filter: alpha(opacity=100); } }

@-webkit-keyframes wpb_btt { 0% { opacity: 0;
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
    filter: alpha(opacity=0); }
  100% { opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    filter: alpha(opacity=100); } }

@keyframes wpb_btt { 0% { opacity: 0;
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
    filter: alpha(opacity=0); }
  100% { opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    filter: alpha(opacity=100); } }

.wpb_start_animation.wpb_top-to-bottom, .wpb_start_animation.wpb_bottom-to-top { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

.wpb_alert p:last-child, #content .wpb_alert p:last-child, .wpb_text_column p:last-child, .wpb_text_column *:last-child, #content .wpb_text_column p:last-child, #content .wpb_text_column *:last-child { margin-bottom: 10px; }

.wpb_row, .wpb_content_element, .wpb_thumbnails-fluid > li, .wpb_button { margin-bottom: inherit; }

li { margin: 5px 0; }

p { margin: 10px 0; }

p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea { font-size: 1.4em; line-height: 1.6em; font-weight: 400; }

td p, td .bodytext { margin: 0; }

input, select, textarea { font-family: "Roboto", Arial sans-serif; }

fieldset { margin: 0; border: none; padding: 0; }

select { width: auto; cursor: pointer; }

input, select, textarea, label { vertical-align: middle; }

h1, h2, h3, h4, h5, h6 { line-height: 1em; }

body { background-color: #2f3031; overflow: hidden; font-family: "Roboto", Arial sans-serif; font-weight: 400; color: #000; }

button, a { text-decoration: none; color: #68bbdb; }

button:hover, a:hover { text-decoration: underline; }

button { background-color: transparent; color: #68bbdb; }

header { position: relative; margin-left: -330px; border-right: 10px solid #fff; width: 330px; background: url("../img/bg-nav-panel.jpg") repeat-y; z-index: 3; }

header h1 { position: absolute; top: 10px; left: 100%; margin: 0 0 0 10px; padding: 0; width: 360px; }

@media screen and (max-width: 480px) { header h1 img { position: fixed; margin-top: 15px; margin-left: 15px; max-width: 60%; } }

header .nav-button { padding: 0 10px; width: 50px; height: 50px; background-color: #2f3031; }

header .menu-icon { margin-top: -12px; max-width: 100%; }

footer { position: fixed; top: 0; right: 0; bottom: 0; padding: 1% 0; width: 235px; max-width: 100%; background: url("../img/fondFooter.jpg") center center repeat-y; overflow: auto; opacity: 0; z-index: 1; }

footer.shown { display: block; }

.align-left { text-align: left; }

.align-center { text-align: center; }

.align-right { text-align: right; }

.align-justify { text-align: justify; }

.form-error { outline-color: #d9534f; }

.form-valid { outline-color: #5cb85c; }

.important { font-size: 2.4em; }

.introduction { font-size: 1.7em; }

.site-content { position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 10px solid #fff; overflow: hidden; z-index: 2; }

.nav-block { position: absolute; top: 30px; right: 30px; bottom: 30px; left: 30px; overflow: auto; }

.nav-block .vertical-list { margin: 0; padding: 0; text-align: right; }

.nav-block .vertical-list a:hover { transition: color 200ms linear; text-decoration: none; }

.nav-block .vertical-list li { list-style-type: none; }

.nav-block .vertical-list > .nav-item { margin: 15px 0; }

.nav-block .vertical-list > .nav-item:first-child { margin-top: 0; }

.nav-block .vertical-list > .nav-item:first-child a { color: #4e4b53; }

.nav-block .vertical-list > .nav-item:first-child a:hover { color: #d2d5da; }

.nav-block .vertical-list > .nav-item:last-child { margin-bottom: 0; }

.nav-block .vertical-list > .nav-item > .nav-link { font-size: 20px; font-weight: 500; color: #d2d5da; }

.nav-block .vertical-list > .nav-item > .nav-link:hover { color: #fff; }

.nav-block .nav-drop { border-right: 3px dotted #2f3031; padding-right: 15px; }

.nav-block .nav-drop-item { margin: 5px 0; font-family: "Roboto Slab", serif; font-size: 1em; }

@media screen and (max-width: 480px) { .nav-block .nav-drop-item { margin: 2px 0; font-size: .8em; } }

.nav-block .nav-drop-item a { color: #9f8562; }

.nav-block .nav-drop-item a:hover { text-decoration: none; color: #ebc390; }

.top-bar { position: absolute; top: 0; right: 0; left: 0; z-index: 3; text-align: right; }

.top-bar .relais { margin: 10px; }

@media screen and (max-width: 480px) { .top-bar { display: none; } }

.nav-footer { position: absolute; right: 30px; bottom: 30px; left: 30px; text-align: left; }

.nav-footer .first-level { margin: 0; border-top: 2px dotted #2f3031; padding: 0; }

.nav-footer .nav-item { margin: 20px 0; list-style-type: none; font-size: 1.2em; text-transform: uppercase; }

.nav-footer .nav-item:first-child { margin-top: 10px; }

.nav-footer .nav-item:last-child { margin-bottom: 0; }

.nav-footer a { transition: color 200ms linear; color: #6f6150; }

.nav-footer a:hover { text-decoration: none; color: #2f3031; }

.section-row { position: absolute; top: 0; left: 0; height: 100%; opacity: 0; }

.section-row article { position: relative; float: left; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; z-index: 2; }

.section-row .article-content { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; padding: 50px; opacity: 0; }

.section-row .article-content a { text-decoration: underline; color: #ebc390; }

.section-row .article-content a:hover { text-decoration: none; }

.section-row [id="post-45"] { background-image: url("../img/img45.jpg"); }

.section-row [id="post-67"] { background-image: url("../img/img67.jpg"); }

.section-row [id="post-69"] { background-image: url("../img/img69.jpg"); }

.section-row [id="post-71"] { background-image: url("../img/img71.jpg"); }

.section-row [id="post-73"] { background-image: url("../img/img73.jpg"); }

.section-row [id="post-75"] { background-image: url("../img/img75.jpg"); }

.section-row [id="post-81"] { background-image: url("../img/img81.jpg"); }

.section-row [id="post-83"] { background-image: url("../img/img83.jpg"); }

.section-row [id="post-85"] { background-image: url("../img/img85.jpg"); }

.section-row [id="post-87"] { background-image: url("../img/img87.jpg"); }

.section-row [id="post-128"] { background-image: url("../img/img128.jpg"); }

.section-row [id="post-130"] { background-image: url("../img/img130.jpg"); }

.section-row [id="post-132"] { background-image: url("../img/img132.jpg"); }

.section-row [id="post-141"] { background-image: url("../img/img141.jpg"); }

.section-row [id="post-161"] { background-image: url("../img/img161.jpg"); }

@media screen and (max-width: 480px) { .section-row [id="post-45"] { background-image: url("../img/img45b.jpg"); }
  .section-row [id="post-67"] { background-image: url("../img/img67b.jpg"); }
  .section-row [id="post-69"] { background-image: url("../img/img69b.jpg"); }
  .section-row [id="post-71"] { background-image: url("../img/img71b.jpg"); }
  .section-row [id="post-73"] { background-image: url("../img/img73b.jpg"); }
  .section-row [id="post-75"] { background-image: url("../img/img75b.jpg"); }
  .section-row [id="post-81"] { background-image: url("../img/img81b.jpg"); }
  .section-row [id="post-83"] { background-image: url("../img/img83b.jpg"); }
  .section-row [id="post-85"] { background-image: url("../img/img85b.jpg"); }
  .section-row [id="post-87"] { background-image: url("../img/img87b.jpg"); }
  .section-row [id="post-128"] { background-image: url("../img/img128b.jpg"); }
  .section-row [id="post-130"] { background-image: url("../img/img130b.jpg"); }
  .section-row [id="post-132"] { background-image: url("../img/img132b.jpg"); }
  .section-row [id="post-141"] { background-image: url("../img/img141b.jpg"); }
  .section-row [id="post-161"] { background-image: url("../img/img161b.jpg"); } }

.section-row h1, .section-row h2, .section-row h4, .section-row h5, .section-row h6 { color: #fff; }

@media screen and (max-width: 480px) { .section-row h1, .section-row h2, .section-row h4, .section-row h5, .section-row h6 { margin: 10px 0; font-size: 2em; text-shadow: 0 0 30px rgba(0, 0, 0, 0.8); color: #fff; } }

.section-row h3 { font-weight: 500; text-transform: uppercase; text-shadow: 0 0 15px rgba(0, 0, 0, 0.8); color: #ebc390; }

@media screen and (max-width: 480px) { .section-row h3 { font-size: 1.3em; text-shadow: 0 0 20px rgba(0, 0, 0, 0.9); } }

.section-row ul, .section-row li, .section-row p, .section-row th, .section-row td, .section-row blockquote, .section-row caption, .section-row label { text-shadow: 0 0 15px rgba(0, 0, 0, 0.8); color: #fff; }

@media screen and (max-width: 480px) { .section-row ul, .section-row li, .section-row p, .section-row th, .section-row td, .section-row blockquote, .section-row caption, .section-row label { padding: 0; font-size: 1.1em; text-shadow: 0 0 10px black; color: #fff; } }

.nav-slit .prev { left: 0; }

.nav-slit .prev div { left: 0; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); }

.nav-slit .prev.hover .icon { -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); }

.nav-slit a { display: none; position: absolute; top: 50%; opacity: 0; outline: none; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); z-index: 1000; text-align: left; }

.nav-slit a svg { display: block; margin: 0 auto; padding: 0; }

.nav-slit .next { right: 0; }

.nav-slit .next div { right: 0; -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); text-align: right; }

.nav-slit .next .hover .icon { -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); }

.nav-slit .icon-wrap { display: block; position: relative; padding: 84px 29px; background-color: #2f3031; }

.nav-slit .icon-wrap img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 25px; height: 70px; }

@media screen and (max-width: 480px) { .nav-slit .icon-wrap { padding: 50px 15px; }
  .nav-slit .icon-wrap img { width: 15px; height: 50px; } }

.nav-slit .icon { fill: #fff; transition: -webkit-transform 0.3s 0.3s; transition: transform 0.3s 0.3s; }

.nav-slit div { position: absolute; top: 0; width: 228px; height: 100%; background-color: #2f3031; -webkit-perspective: 1000px; perspective: 1000px; transition: -webkit-transform 0.3s 0s; transition: transform 0.3s 0s; }

.nav-slit h3 { position: absolute; top: 100%; margin: 0; width: 100%; background: #2f3031; transition: -webkit-transform 0.3s; transition: transform 0.3s; -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); -webkit-transform-origin: 50% 0; -ms-transform-origin: 50% 0; transform-origin: 50% 0; -webkit-backface-visibility: hidden; backface-visibility: hidden; font-size: 1.5em; line-height: 2.8; font-weight: 500; text-align: center; white-space: nowrap; color: #ebc390; }

.nav-slit img { position: absolute; top: 0; left: 0; width: 100%; }

.nav-slit .hover .icon { transition-delay: 0s; }

.nav-slit .hover div { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

.nav-slit .hover h3 { transition-delay: .3s; -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }

.keyboard-arrows { display: none; position: absolute; right: 0; bottom: 90px; left: 0; height: 63px; background: url("../img/keyboard.png") 50% 100% no-repeat; z-index: 3; }

.next-row { position: absolute; top: 50%; right: 30px; left: 30px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); font-size: 1.4em; }

@media screen and (max-width: 480px) { .next-row { top: 30%; font-size: 1.2em; } }

.next-row a { color: #fff; }

.next-row a:hover { text-decoration: none; }

.next-row .title { font-size: 1.73em; line-height: 1.5; text-transform: uppercase; color: #ebc390; }

@media screen and (max-width: 480px) { .next-row .title { font-size: 1.4em; } }

.breadcrumb { position: absolute; right: 10px; bottom: 0; left: 10px; border-bottom: 10px solid #fff; padding-top: 23px; overflow: hidden; z-index: 3; }

.breadcrumb .bc-progress .bc-grip { position: absolute; top: 0; left: 0; opacity: 0; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); }

.breadcrumb .bc-progress svg { height: 4px; background-color: #2f3031; }

.breadcrumb .bc-progress path { height: 4px; stroke: #ebc390; }

.breadcrumb.col-2 li { width: 50%; }

.breadcrumb.col-3 li { width: 33.334%; }

.breadcrumb.col-4 li { width: 25%; }

.breadcrumb.col-5 li { width: 20%; }

.breadcrumb.shown .bc-content { margin-bottom: 0; }

.breadcrumb .bc-content { display: table; margin: 0 0 -80px; padding: 12px 0; width: 100%; min-height: 14px; background: #161516 url("../img/border-dotted-breadcrumb.gif") 50% 50% repeat-x; transition: 200ms margin linear; }

.breadcrumb .bc-content li { display: table-cell; margin: 0; padding: 0; font-family: "Roboto Slab", serif; font-size: 1.4em; line-height: 1; font-weight: 700; text-align: center; }

@media screen and (max-width: 480px) { .breadcrumb .bc-content li { font-size: 1.2em; } }

.breadcrumb .bc-content li a { display: inline-block; padding: 0 5px; background-color: #161516; transition: 200ms color linear; color: #4e4b53; }

.breadcrumb .bc-content li a:hover, .breadcrumb .bc-content li.active a { text-decoration: none; color: #d2d5da; }

.preloader { position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 10px solid #fff; background-color: #d2d5da; z-index: 100; }

.preloader img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: 38px; z-index: 3; }

.preloader svg { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 150px; height: 150px; z-index: 2; }

@media print { .no-print, [id="header"], [id="footer"] { display: none !important; } }
/*# sourceMappingURL=main.css.map */