.btn-twitter {
  position: absolute; bottom: 10%; width: 62px; height: 44px; background: url('../img/twitter_off.gif') 50% 50% no-repeat;

  &:hover { background-image: url('../img/twitter_hover.gif'); }
}
.btnPresse {
    background-color: $grey2;
    padding: 10px;
    margin: 4px 0px;
    width: 100%;
    display: inline-block;
    text-decoration: none !important;
    text-align: center;
    transition: background-color .5s linear;
    
    &:hover{ background-color: $brown3; transition: background-color .5s linear; }
}
