.nav-slit {
  .prev { left: 0;
    div { left: 0; transform: translateX(-100%); }
    &.hover .icon { transform: translateX(-100%); }
  }
  a {  display: none; position: absolute; top: 50%; opacity: 0; outline: none; transform: translateY(-50%); z-index: 1000;
    text-align: left;

    svg { display: block; margin: 0 auto; padding: 0; }
  }
  .next { right: 0;
    div { right: 0; transform: translateX(100%);
      text-align: right;
    }
    .hover .icon { transform: translateX(100%); }
  }
  .icon-wrap { display: block; position: relative; padding: 84px 29px; background-color: $grey2;
    img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 25px; height: 70px; }
  }
  .icon { fill: $white; transition: transform .3s .3s; }
  div { position: absolute; top: 0; width: 228px; height: 100%; background-color: $grey2; perspective: 1000px; transition: transform .3s .3s; }
  h3 { position: absolute; top: 100%; margin: 0; width: 100%; background: $grey2; transition: transform .3s; transform: rotateX(-90deg); transform-origin: 50% 0; backface-visibility: hidden;
    font-size: 1.4em; line-height: 2.8; font-weight: $fw-medium; text-align: center; white-space: nowrap; color: $brown1; }
  img { position: absolute; top: 0; left: 0; width: 100%; }
  .hover .icon { transition-delay: 0s; }
  .hover div { transform: translateX(0); }
  .hover h3 { transition-delay: .6s; transform: rotateX(0deg); }
}
