.preloader {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 10px solid $white; background-color: $grey5; z-index: 100;

  img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: 38px; z-index: 3; }
  svg { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 150px; height: 150px; z-index: 2; }
}
