.section-row {
  height: 100%; opacity: 0;

  article { position: relative; float: left; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; z-index: 2; }
  .article-content { opacity: 0; }

  [id="post-5"] { background-image: url('../img/bg-1.jpg'); }
  [id="post-67"] { background-image: url('../img/bg-2.jpg'); }
  [id="post-69"] { background-image: url('../img/bg-3.jpg'); }
  [id="post-71"] { background-image: url('../img/bg-4.jpg'); }
  [id="post-15"] { background-image: url('../img/bg-5.jpg'); }
  [id="post-73"] { background-image: url('../img/bg-6.jpg'); }
  [id="post-75"] { background-image: url('../img/bg-7.jpg'); }
  [id="post-19"] { background-image: url('../img/bg-8.jpg'); }
  [id="post-21"] { background-image: url('../img/bg-9.jpg'); }
}
