.section-row {
  position: absolute; top: 0; left: 0; height: 100%; opacity: 0;

  article { position: relative; float: left; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; z-index: 2; }
  .article-content { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; padding: 50px; opacity: 0; }

  [id="post-161"] { background-image: url('../img/image_manger_cuisine.jpg'); }
  [id="post-128"] { background-image: url('../img/image_chef_bio.jpg'); }
  [id="post-130"] { background-image: url('../img/image_dormir_chambre1.jpg'); }
  [id="post-132"] { background-image: url('../img/image_manger_cuisine.jpg'); }
  [id="post-67"] { background-image: url('../img/image_manger_cuisine2.jpg'); }
  [id="post-69"] { background-image: url('../img/image_manger_cuisine3jpg.jpg'); }
  [id="post-71"] { background-image: url('../img/image_manger_menu1.jpg'); }
  [id="post-77"] { background-image: url('../img/image_manger_restaurant1.jpg'); }
  [id="post-75"] { background-image: url('../img/image_manger_restaurant2.jpg'); }
  [id="post-73"] { background-image: url('../img/image_manger_restaurant2.jpg'); }
  [id="post-79"] { background-image: url('../img/image_manger_restaurant2.jpg'); }
  [id="post-141"] { background-image: url('../img/image_manger_restaurant2.jpg'); }
  [id="post-83"] { background-image: url('../img/image_manger_restaurant2.jpg'); }
  [id="post-81"] { background-image: url('../img/image_manger_restaurant2.jpg'); }
  [id="post-87"] { background-image: url('../img/image_manger_restaurant2.jpg'); }
  [id="post-85"] { background-image: url('../img/image_manger_restaurant2.jpg'); }

  h1, h2, h4, h5, h6 { color: $white; }
  h3 { font-weight: $fw-light; text-transform: uppercase; color: $brown1; }
  ul, li, p, th, td, blockquote, caption, label { color: $white; }
}
