.section-row {
  position: absolute; top: 0; left: 0; height: 100%; opacity: 0;

  article { position: relative; float: left; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; z-index: 2; }
  
  .article-content { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; padding: 50px; opacity: 0;

    a { text-decoration: underline; color: $brown1;

      &:hover { text-decoration: none; }
    }
  }

  [id="post-45"] { background-image: url('../img/img45.jpg'); }    
  [id="post-67"] { background-image: url('../img/img67.jpg'); }
  [id="post-69"] { background-image: url('../img/img69.jpg'); }
  [id="post-71"] { background-image: url('../img/img71.jpg'); }
  [id="post-73"] { background-image: url('../img/img73.jpg'); }
  [id="post-75"] { background-image: url('../img/img75.jpg'); }
  [id="post-81"] { background-image: url('../img/img81.jpg'); }
  [id="post-83"] { background-image: url('../img/img83.jpg'); }
  [id="post-85"] { background-image: url('../img/img85.jpg'); }
  [id="post-87"] { background-image: url('../img/img87.jpg'); }
  [id="post-128"] { background-image: url('../img/img128.jpg'); }
  [id="post-130"] { background-image: url('../img/img130.jpg'); }
  [id="post-132"] { background-image: url('../img/img132.jpg'); }
  [id="post-141"] { background-image: url('../img/img141.jpg'); }
  [id="post-161"] { background-image: url('../img/img161.jpg'); }
  @media screen and (max-width: $vw-small) {   
    [id="post-45"] { background-image: url('../img/img45b.jpg'); }    
    [id="post-67"] { background-image: url('../img/img67b.jpg'); }
    [id="post-69"] { background-image: url('../img/img69b.jpg'); }
    [id="post-71"] { background-image: url('../img/img71b.jpg'); }
    [id="post-73"] { background-image: url('../img/img73b.jpg'); }
    [id="post-75"] { background-image: url('../img/img75b.jpg'); }
    [id="post-81"] { background-image: url('../img/img81b.jpg'); }
    [id="post-83"] { background-image: url('../img/img83b.jpg'); }
    [id="post-85"] { background-image: url('../img/img85b.jpg'); }
    [id="post-87"] { background-image: url('../img/img87b.jpg'); }
    [id="post-128"] { background-image: url('../img/img128b.jpg'); }
    [id="post-130"] { background-image: url('../img/img130b.jpg'); }
    [id="post-132"] { background-image: url('../img/img132b.jpg'); }
    [id="post-141"] { background-image: url('../img/img141b.jpg'); }
    [id="post-161"] { background-image: url('../img/img161b.jpg'); }
  } 
  h1, h2, h4, h5, h6 { color: $white;
    @media screen and (max-width: $vw-small) {
      margin: 10px 0;
      font-size: 2em;
      text-shadow: 0 0 30px rgba($black, .8); color: $white;
    }  
  }
  h3 { font-weight: $fw-medium; text-transform: uppercase; text-shadow: 0 0 15px rgba($black, .8); color: $brown1; 
    @media screen and (max-width: $vw-small) {   
      font-size: 1.3em;
      text-shadow: 0 0 20px rgba($black, .9);
    }   
  }
  ul, li, p, th, td, blockquote, caption, label { 
    text-shadow: 0 0 15px rgba($black, .8); color: $white;
    @media screen and (max-width: $vw-small) {
      padding: 0;    
      font-size: 1.1em;
      text-shadow: 0 0 10px rgba($black, 1); color: $white;
    } 
  }
}
