{% block head %}
    {% include 'Partials/Layout/_head.twig' %}
{% endblock %}

<body class="{{body_class}}" data-template="base.twig" id="body">

    {% block header %}
        {% include 'Partials/Layout/_header.twig' %}
    {% endblock %}
    <div id="site-content" class="site-content">

        <section id="content" role="main" class="page-sized">
            {% block content %}
                Sorry, no content
            {% endblock %}
        </section>
    </div>

    {% block footer %}
        <footer id="footer" class="footer">
            {% include 'Partials/Layout/_footer.twig' %}
        </footer>

        {{ function('wp_footer') }}
    {% endblock %}
</body>
</html>
