////
/// Layout of the page
///
/// @group Elements
///
////

/// Text default font and color
body { background-color: $grey2; overflow: hidden;
  font-family: $font; font-weight: $fw-regular; color: $text-color; }
